@import "config";

.footer{
    background: linear-gradient(transparent 5%, $black);
    text-align: center;

    .links{
        
        a{
            margin: 1rem;
        } 
    }

    .credit{
        @include grap-text(1.5rem);
        padding: 2rem;

        span{
            color: $yellow;
        }
    }
}