@import "config";

.home{
    margin-top: 7rem;
    background: url(../../public/images/home-bg.png) no-repeat;
    background-position: center;
    background-size: contain;

    .content{
        max-width: 70rem;
        text-align: center;
        margin: 0 auto;

        img{
            width: 100%;
        }

        h3{
            @include title-text(4rem);
        }

        p{
            @include grap-text(1.7rem);
            padding:2rem 0;
        }
    }
}

.service{
    @include grid(31rem);

    .box{
        text-align: center;
        padding: 2rem;

        i{
            height: 7rem;
            width: 7rem;
            line-height: 7rem;
            font-size: 2.5rem;
            color: $black;
            background-color: $yellow;
            margin-bottom: 1rem;
            border-radius: 50%;
        }

        h3{
            @include title-text(2rem);
            padding: 1rem 0;
        }

        p{
            @include grap-text(1.5rem)
        }
    }
}



@media (max-width: 991px) {
    .home {
        background-size: cover;
    }
}
@media (max-width: 768px) {
    .home .content h3{
        font-size: 2.5rem;
    }
}

// @media (max-width: 991px) {

// }

// @media (max-width: 450px) {

// }
